*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .head{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 222px;
    height: 82px;
    background-color: #333;
    margin: 255px;
    box-shadow: 23px 23px yellow,-23px -23px red;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),10px 10px 70px rgba(0, 0, 0, 0.25),inset -5px -5px 15px rgba(0, 0, 0, 0.5),inset 5px 5px 15px rgba(0, 0, 0, 0.5);
    font-family: cursive;
    font-weight: bold;
    color: #ffffffff;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
body.light{
    background-color: #f8f8f8; 
}
.container{
    height: 600px;
    width: 430px;
    position: relative;
    outline: none;
    border-radius: 12px;
    background: #333;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),10px 10px 70px rgba(0, 0, 0, 0.25),inset -5px -5px 15px rgba(0, 0, 0, 0.5),inset 5px 5px 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 40px 30px 30px;

}
body.light .container{
    background: #fafafa;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.15),
    10px 10px 70px rgba(0, 0, 0, 0.15),
    inset -5px -5px 15px rgba(0, 0, 0, 0.4),
    inset 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.container .calculator{
    display: grid;
    position: relative;
}
.container .calculator .value{
    position: relative;
    grid-column: span 4;
    height: 60px;
    left: 12px;
    width: 95%;
    border: none;
    background-color: #a7af7c;
    outline: none;
    font-size: 2rem;
    position: relative;
    border-radius: 12px;
    text-align: right;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    border: 2px solid black;

}

.container .calculator span{
    position: relative;
    height: 70px;
    width: 70px;
    display: grid;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background:linear-gradient(180deg,#2f2f2f,#3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0,0.15),inset 0 -8px 8px rgba(0, 0, 0, 0.25),0 0 0 2px rgba(0, 0, 0, 0.75),10px 20px 25px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 25px;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
}
body.light .container .calculator span{
    background:linear-gradient(180deg,#fafafa,#f4f4f4);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0,0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.15),
    0 0 0 2px rgba(0, 0, 0, 1),
    10px 20px 25px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}
.calculator span::before{
    content:'';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#2d2d2d,#4d4d4d);
    border-radius: 10px;
    color: #fff;
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}

body.light .container .calculator span::before{
    background: linear-gradient(90deg,#e6e6e6,#efefef);
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
    10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff9;
}
.container .calculator span i{
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: normal;
    font-family: monospace;
}
body.light .container .calculator span i{
    color: #333;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: normal;
    font-family: monospace;
}

.calculator span:active{
    filter: brightness(1.5);
}
body.light .calculator span:active{
    filter: brightness(0.9);
}
body.light .container .calculator .clear,
.container .calculator .clear{
    grid-column: span 2;
    width: 164px;
    background: #f00;
}
body.light .container .calculator .clear::before,
.container .calculator .clear::before{
    background: linear-gradient(90deg,#d20000,#ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}
.container .calculator .plus{
    grid-row: span 2;
    height: 156px;
}
body.light .container .calculator .eval,
.container .calculator .eval{
    background: #2196f3;
}
body.light .container .calculator .eval::before,
.container .calculator .eval::before{
    background: linear-gradient(90deg,#1479c9,#ffffff5c);
    border-left: 1px solid #fff4;
    border-bottom: 1px solid #fff4;
    border-top: 1px solid #fff4;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),5px 5px 30px rgba(0, 0, 0, 0.25),inset -2px -2px 5px rgba(0, 0, 0, 0.25),inset 2px 2px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
    background-color: #efefef;
    border-radius: 123px;

}
body.light .btn{
    background: #333;
}
.btn strong{
    display: none;
}
.btn strong:nth-child(1){
    display: block;
}

body.light .btn strong:nth-child(1){
    display: none;
}
body.light .btn strong:nth-child(2){
    display: block;
}
